
body {
    background-image: image("../../shapes1.jpg");
    background-color: #50C9CE;
    display: flex;
    color: white;
    font-weight: bolder;
}



#dropdown-basic {
    color: white;
    width: 50vw;
    font-size: larger;
    font-weight: bolder;
    background-color: aquamarine;
    height: 8vh;
    border-radius: 25px;
}

#root {
    width: 100vw;

}

#formBasicEmail {
    width: 50vw;


}

.form-control {
    width: 50vw;

}

h2 {
    color: white;
    font-size: 150%;
    font-weight: bolder;
}

h1 {
    color: white;


}

#passWordReset {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

#sign-in {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#sign-up-btn {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#sign-up-form {
    display: flex;
    justify-content: center;
    flex-flow: column;
    width: 75vw;
    margin-right: -100%;
}

.btn-primary.disabled {
    background-color: lightpink;
}

.btn-primary {
    background-color: lightpink;
    font-size: 150%;
    border-radius: 25px;
}

button.disabled {
    background-color: lightpink;
}


form {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}


.jumbotron {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: #9883E5;
    border: solid white 5px;
    border-radius: 105px;
    margin: 15vh;

}

.accountBarterList {
    display: flex;
    align-items:  center;
    flex-flow: column wrap;
    border: white solid 5px;
}

.saleItem {
    display: flex;
    align-items:  center;
    flex-flow: column wrap;
    border: white solid 5px;
}