body {
    background-color: white;
    display: flex;
}

.nav {
    background-color: orange;
    color: white;
}

p {
    border: 3px solid crimson;
    color: blue;
}



.item {
    color: white;
    border: green solid 2px;
    padding: 3vh;
    width: 100vw;
    height: 50vh;
    background-color: #039be5;
}

.component {
    border: rebeccapurple solid 3px;
}

ul {
}

form {
    justify-content: center;
    border: solid green 3px;
    margin: 5vw;
    padding: 2vw;
    background-color: #ECEFF1;
}



