body {
    background-color: white;
    display: flex;
}

 .nav {
    background-color: orange;
    color: white;
}

p {
    border: 3px solid crimson;
    color: white;
}

a {
    border: 3px solid blue;
    color: white;
}

.item {
    color: white;
    border: green solid 2px;
}

.component {
    border: rebeccapurple solid 3px;
}



